.card {
  width: 100%;
  height: 180px;
  background-color: var(--lightDarkPink);
  background-image: url('../../assets/land.png');
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  padding: 10px 10px 14px;

  /* Layout */
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.card:nth-child(even) {
  background-color: var(--darkPink);
  background-image: url('../../assets/land.png');
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

.cardInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  color: var(--white);
}

.title,
.description {
  text-align: right;
}
