.metrics {
  background: var(--pink);
}

.heroTitle {
  font-size: 34px;
  line-height: 42px;
  font-weight: bold;
  color: var(--white);
  text-transform: uppercase;
}

.heroDescription {
  color: var(--white);
  font-size: 20px;
  line-height: 26px;
}

.metricsWrapper {
  background-color: var(--lightDarkPink);
}

.itemTitle {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--white);
  padding: 10px;
}

.metricsHero {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.listContainer {
  display: grid;
  grid-template-columns: 1fr;
}

.listItem {
  background-color: var(--lightDarkPink);
  padding: 20px 10px;

  /* Layout */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listItem:nth-child(even) {
  background-color: var(--darkPink);
}

.itemKey {
  color: var(--white);
  font-size: 20px;
  line-height: 28px;
  text-transform: capitalize;
}

.itemValueWrapper {
  display: flex;
  align-items: center;
}

.itemValue {
  color: var(--white);
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  margin-right: 24px;
}

@media only screen and (max-width: 600px) {
  .metricsHero {
    height: 35vh;
  }
}
